body {
    font-family: 'Arial', sans-serif;
    background-image: url('./hero.png'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.settings-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.pomodoro {
    width: 90%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.timer {
    font-size: 280px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.timer:hover {
    transform: scale(1.05);
}

.controls button {
    padding: 12px 24px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: #3130306e;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

.controls button:hover {
    background-color: #bbc4be;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 20px;
    top: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: all 0.3s ease;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}


.spotify-widget {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    z-index: 1000; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}




@media (max-width: 768px) {
    .pomodoro {
        width: 90%;
        max-width: 90%; 
    }
}
